<div crm-ui-debug="rules"></div>
<div crm-ui-debug="triggers"></div>
<div class="crm-container">
  <h1>CiviRules Rules</h1>
  <div class="help">
    {{ts('A CiviRule combines a trigger with condition(s) and action(s). For example: trigger is contribution is added, conditions are financial type is donation and status is completed and finally action is add contact to group Donors')}}
  </div>

  <table class="display">
    <thead>
    <tr>
      <th>{{ts('Label')}}</th>
      <th>{{ts('Description')}}</th>
      <th>{{ts('Trigger')}}</th>
      <th>{{ts('Enabled?')}}</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="rule in rules track by $index" class="crm-entity" ng-class-even="'even-row even'" ng-class-odd="'odd-row odd'">
      <td>{{rule.label}}</td>
      <td>{{rule.description}}</td>
      <td>{{triggers[rule.trigger_id].label}}</td>
      <td>{{rule.is_active == 1 ? ts('Yes') : ts('No')}}</td>
      <td>
        <a class="crm-hover-button action-item" ng-click="editRule(rule)">{{ ts('Edit') }}</a>
        <a class="crm-hover-button action-item" ng-click="deleteRule(rule)">{{ ts('Delete') }}</a>
        <a class="crm-hover-button action-item" ng-show="rule.is_active == 1" ng-click="toggleRuleIsActive(rule)">{{ts('Disable')}}</a>
        <a class="crm-hover-button action-item" ng-show="rule.is_active == 0" ng-click="toggleRuleIsActive(rule)">{{ts('Enable')}}</a>
      </td></tr>
    </tbody>
  </table>
  <div class="crm-submit-buttons">
    <a ng-click="newRule()" class="button"><span><div class="icon ui-icon-circle-plus"></div>{{ts('New Rule')}}</span></a>
  </div>
</div>