<div class="crm-container" ng-controller="RuleDialogCtrl">
  <div class="crm-block" ng-form="ruleDialogForm" crm-ui-id-scope>
    <div class="crm-group">
      <div crm-ui-field="{title: ts('Label')}">
        <input type="text" name="label" ng-model="rule.label" class="crm-form-text" required>
      </div>
      <div crm-ui-field="{title: ts('Description')}">
        <textarea type="text" name="description" ng-model="rule.description" class="crm-form-textarea" cols="60" rows="4"></textarea>
      </div>
      <div crm-ui-field="{title: ts('Trigger')}">
        <select  class="crm-select"
                crm-ui-id="ruleDialogForm.trigger_id"
                crm-ui-select="{dropdownAutoWidth : true}"
                name="trigger_id"
                ng-model="rule.trigger.id"
                required
        >
          <option ng-repeat="trigger in model.triggers"
                  ng-value="trigger.id">{{trigger.label}}</option>
        </select>
      </div>

      <button ng-click="save()">{{ ts('Save') }}</button>
      <button ng-click="cancel()">{{ ts('Cancel') }}</button>
    </div>
  </div>

</div>
